In [1]:
import pandas as pd
import path
import os

In [2]:
file = pd.ExcelFile("DataRomandeEnergieVevey/loads_feeders_MT/COPE_27.xls", header=None)
file.sheet_names

df = file.parse("Sheet1", header=None)

df.columns = ["Time", "Methode 1", "Methode 2"]
df.set_index('Time', inplace=True)

df = df.drop(["techpkey","Par mesure","Ouvrage","Niveau","Champ", "Libellé 1", "Libellé 2", "Type", "Unité"])

df

                    Methode 1 Methode 2
Time
2016-01-01 00:00:00   14.2442         0
2016-01-01 00:15:00   12.9483         0
2016-01-01 00:30:00    12.585         0
2016-01-01 00:45:00   12.4925         0
2016-01-01 01:00:00   12.8142         0
2016-01-01 01:15:00   12.2425         0
2016-01-01 01:30:00   12.3292         0
2016-01-01 01:45:00   11.9083         0
2016-01-01 02:00:00   11.5217         0
2016-01-01 02:15:00   13.1742         0
2016-01-01 02:30:00   13.1558         0
2016-01-01 02:45:00   11.5492         0
2016-01-01 03:00:00   10.9833         0
2016-01-01 03:15:00     10.75         0
2016-01-01 03:30:00   10.7575         0
2016-01-01 03:45:00   10.6025         0
2016-01-01 04:00:00   10.0733         0
2016-01-01 04:15:00   10.1933         0
2016-01-01 04:30:00   10.1483         0
2016-01-01 04:45:00   10.2092         0
2016-01-01 05:00:00   10.4492         0
2016-01-01 05:15:00   10.9325         0
2016-01-01 05:30:00   12.0117         0
2016-01-01 05:45:00   12.0858         0
2016-01-01 06:00:00   10.3583         0
2016-01-01 06:15:00   10.3142         0
2016-01-01 06:30:00   10.6058         0
2016-01-01 06:45:00   10.5817         0
2016-01-01 07:00:00     10.09         0
2016-01-01 07:15:00   11.8775         0
...                       ...       ...
2016-12-31 16:30:00   15.6208         0
2016-12-31 16:45:00     16.48         0
2016-12-31 17:00:00   17.2417         0
2016-12-31 17:15:00   18.1892         0
2016-12-31 17:30:00   18.4283         0
2016-12-31 17:45:00   18.9275         0
2016-12-31 18:00:00   18.9333         0
2016-12-31 18:15:00   18.3983         0
2016-12-31 18:30:00   18.0258         0
2016-12-31 18:45:00   19.2358         0
2016-12-31 19:00:00   18.8158         0
2016-12-31 19:15:00   18.4767         0
2016-12-31 19:30:00   17.5658         0
2016-12-31 19:45:00   17.9567         0
2016-12-31 20:00:00   18.6475         0
2016-12-31 20:15:00   18.1767         0
2016-12-31 20:30:00   17.5567         0
2016-12-31 20:45:00   17.4642         0
2016-12-31 21:00:00   17.1025         0
2016-12-31 21:15:00   17.2358         0
2016-12-31 21:30:00   17.0867         0
2016-12-31 21:45:00   15.8867         0
2016-12-31 22:00:00   15.9192         0
2016-12-31 22:15:00   15.1467         0
2016-12-31 22:30:00   14.3008         0
2016-12-31 22:45:00   14.7958         0
2016-12-31 23:00:00   15.1367         0
2016-12-31 23:15:00   14.3575         0
2016-12-31 23:30:00   14.0417         0
2016-12-31 23:45:00   14.2258         0

[35132 rows x 2 columns]

In [3]:

df.techpkey = "2906","2906"
df.ouvrage = "COPE","COPE"
df.Niveau = "J", "J"
df.Champ = "27", "27"
df.Libellé_1 = "MESURE", "MESURE"
df.Libellé_2 = "COURANT", "COURANT"
df.Type = "moy", "moy"
df.Unité = "A", "A"
df.Par_mesure = "value", "invalid"

In [4]:
file = pd.ExcelFile("DataRomandeEnergieVevey/loads_feeders_MT/COPE_28.xls", header=None)
file.sheet_names

df = file.parse("Sheet1", header=None)

df.columns = ["Time", "Methode 1", "Methode 2"]
df.set_index('Time', inplace=True)

df = df.drop(["techpkey","Par mesure","Ouvrage","Niveau","Champ", "Libellé 1", "Libellé 2", "Type", "Unité"])

df

                    Methode 1 Methode 2
Time
2016-01-01 00:00:00    32.055         0
2016-01-01 00:15:00   31.3467         0
2016-01-01 00:30:00   29.9067         0
2016-01-01 00:45:00   28.9342         0
2016-01-01 01:00:00   28.3017         0
2016-01-01 01:15:00   27.1742         0
2016-01-01 01:30:00    26.805         0
2016-01-01 01:45:00    26.425         0
2016-01-01 02:00:00   25.9017         0
2016-01-01 02:15:00   25.4217         0
2016-01-01 02:30:00   24.3608         0
2016-01-01 02:45:00   24.0708         0
2016-01-01 03:00:00   23.6375         0
2016-01-01 03:15:00   23.5042         0
2016-01-01 03:30:00    23.975         0
2016-01-01 03:45:00   23.4375         0
2016-01-01 04:00:00   23.1275         0
2016-01-01 04:15:00   22.3142         0
2016-01-01 04:30:00     22.06         0
2016-01-01 04:45:00   21.2867         0
2016-01-01 05:00:00   21.8425         0
2016-01-01 05:15:00   21.5508         0
2016-01-01 05:30:00    20.795         0
2016-01-01 05:45:00   19.9708         0
2016-01-01 06:00:00   19.7033         0
2016-01-01 06:15:00   19.8408         0
2016-01-01 06:30:00   19.9933         0
2016-01-01 06:45:00   20.5508         0
2016-01-01 07:00:00     20.97         0
2016-01-01 07:15:00   21.6308         0
...                       ...       ...
2016-12-31 16:30:00   42.4875         0
2016-12-31 16:45:00   42.6917         0
2016-12-31 17:00:00   42.7575         0
2016-12-31 17:15:00     41.56         0
2016-12-31 17:30:00   39.8233         0
2016-12-31 17:45:00   40.5867         0
2016-12-31 18:00:00   39.8925         0
2016-12-31 18:15:00   39.9817         0
2016-12-31 18:30:00   39.8208         0
2016-12-31 18:45:00   39.1075         0
2016-12-31 19:00:00   39.0367         0
2016-12-31 19:15:00   38.2908         0
2016-12-31 19:30:00   38.8033         0
2016-12-31 19:45:00   39.5442         0
2016-12-31 20:00:00   37.5792         0
2016-12-31 20:15:00   37.6608         0
2016-12-31 20:30:00   37.3742         0
2016-12-31 20:45:00   37.5225         0
2016-12-31 21:00:00   36.2033         0
2016-12-31 21:15:00   34.9917         0
2016-12-31 21:30:00   35.2275         0
2016-12-31 21:45:00   34.9308         0
2016-12-31 22:00:00   34.2208         0
2016-12-31 22:15:00     34.89         0
2016-12-31 22:30:00   34.0708         0
2016-12-31 22:45:00    33.365         0
2016-12-31 23:00:00   32.5442         0
2016-12-31 23:15:00   31.8192         0
2016-12-31 23:30:00   32.1633         0
2016-12-31 23:45:00   33.4592         0

[35132 rows x 2 columns]

In [5]:
df.techpkey = "2866","2866"
df.ouvrage = "COPE","COPE"
df.Niveau = "J", "J"
df.Champ = "28", "28"
df.Libellé_1 = "MESURE", "MESURE"
df.Libellé_2 = "COURANT", "COURANT"
df.Type = "moy", "moy"
df.Unité = "A", "A"
df.Par_mesure = "value", "invalid"

In [6]:
file = pd.ExcelFile("DataRomandeEnergieVevey/loads_feeders_MT/COPE_32.xls", header=None)
file.sheet_names

df = file.parse("Sheet1", header=None)

df.columns = ["Time", "Methode 1", "Methode 2"]
df.set_index('Time', inplace=True)

df = df.drop(["techpkey","Par mesure","Ouvrage","Niveau","Champ", "Libellé 1", "Libellé 2", "Type", "Unité"])

df

                    Methode 1 Methode 2
Time
2016-04-10 00:00:00  0.958333         0
2016-04-10 00:15:00  0.886667         0
2016-04-10 00:30:00    0.8075         0
2016-04-10 00:45:00     0.825         0
2016-04-10 01:00:00     0.755         0
2016-04-10 01:15:00  0.711667         0
2016-04-10 01:30:00  0.635833         0
2016-04-10 01:45:00     0.615         0
2016-04-10 02:00:00    0.5825         0
2016-04-10 02:15:00       0.6         0
2016-04-10 02:30:00  0.506667         0
2016-04-10 02:45:00  0.633333         0
2016-04-10 03:00:00  0.665833         0
2016-04-10 03:15:00     0.755         0
2016-04-10 03:30:00  0.643333         0
2016-04-10 03:45:00  0.610833         0
2016-04-10 04:00:00    0.5975         0
2016-04-10 04:15:00  0.675833         0
2016-04-10 04:30:00  0.729167         0
2016-04-10 04:45:00    0.6275         0
2016-04-10 05:00:00  0.609167         0
2016-04-10 05:15:00    0.7275         0
2016-04-10 05:30:00  0.753333         0
2016-04-10 05:45:00    0.8025         0
2016-04-10 06:00:00  0.796667         0
2016-04-10 06:15:00  0.800833         0
2016-04-10 06:30:00      0.78         0
2016-04-10 06:45:00  0.890833         0
2016-04-10 07:00:00    0.8725         0
2016-04-10 07:15:00  0.818333         0
...                       ...       ...
2016-12-31 16:30:00   87.3208         0
2016-12-31 16:45:00   90.7167         0
2016-12-31 17:00:00     88.77         0
2016-12-31 17:15:00   85.1808         0
2016-12-31 17:30:00   77.9717         0
2016-12-31 17:45:00    68.305         0
2016-12-31 18:00:00   64.3033         0
2016-12-31 18:15:00   64.2917         0
2016-12-31 18:30:00   63.1167         0
2016-12-31 18:45:00   61.6233         0
2016-12-31 19:00:00    62.205         0
2016-12-31 19:15:00   56.6942         0
2016-12-31 19:30:00   49.3975         0
2016-12-31 19:45:00   49.7242         0
2016-12-31 20:00:00   49.6233         0
2016-12-31 20:15:00   46.9558         0
2016-12-31 20:30:00   48.5625         0
2016-12-31 20:45:00   47.7092         0
2016-12-31 21:00:00   44.9708         0
2016-12-31 21:15:00   44.2133         0
2016-12-31 21:30:00   42.2175         0
2016-12-31 21:45:00   42.3717         0
2016-12-31 22:00:00    43.585         0
2016-12-31 22:15:00   41.0342         0
2016-12-31 22:30:00   40.4542         0
2016-12-31 22:45:00   38.1558         0
2016-12-31 23:00:00   38.5983         0
2016-12-31 23:15:00    39.475         0
2016-12-31 23:30:00    38.385         0
2016-12-31 23:45:00    38.115         0

[12000 rows x 2 columns]

In [7]:
df.techpkey = "3016","3016"
df.ouvrage = "COPE","COPE"
df.Niveau = "J", "J"
df.Champ = "32", "32"
df.Libellé_1 = "MESURE", "MESURE"
df.Libellé_2 = "COURANT", "COURANT"
df.Type = "moy", "moy"
df.Unité = "A", "A"
df.Par_mesure = "value", "invalid"

In [8]:
file = pd.ExcelFile("DataRomandeEnergieVevey/loads_feeders_MT/COPE_47.xls", header=None)
file.sheet_names

df = file.parse("Sheet1", header=None)

df.columns = ["Time", "Methode 1", "Methode 2"]
df.set_index('Time', inplace=True)

df = df.drop(["techpkey","Par mesure","Ouvrage","Niveau","Champ", "Libellé 1", "Libellé 2", "Type", "Unité"])

df

                    Methode 1 Methode 2
Time
2016-01-01 00:00:00   61.8986         0
2016-01-01 00:15:00    59.634         0
2016-01-01 00:30:00   58.7153         0
2016-01-01 00:45:00   58.8132         0
2016-01-01 01:00:00   58.8944         0
2016-01-01 01:15:00   59.0542         0
2016-01-01 01:30:00   58.3819         0
2016-01-01 01:45:00   58.8236         0
2016-01-01 02:00:00   59.6201         0
2016-01-01 02:15:00   59.4201         0
2016-01-01 02:30:00   59.4493         0
2016-01-01 02:45:00   59.4403         0
2016-01-01 03:00:00   58.3854         0
2016-01-01 03:15:00    56.534         0
2016-01-01 03:30:00    56.484         0
2016-01-01 03:45:00      56.4         0
2016-01-01 04:00:00   56.0604         0
2016-01-01 04:15:00   56.4215         0
2016-01-01 04:30:00   55.1056         0
2016-01-01 04:45:00   55.7667         0
2016-01-01 05:00:00    56.141         0
2016-01-01 05:15:00   58.0076         0
2016-01-01 05:30:00   58.6264         0
2016-01-01 05:45:00   59.6507         0
2016-01-01 06:00:00   58.2729         0
2016-01-01 06:15:00   63.3743         0
2016-01-01 06:30:00   65.5493         0
2016-01-01 06:45:00   66.5875         0
2016-01-01 07:00:00   66.2083         0
2016-01-01 07:15:00   69.2451         0
...                       ...       ...
2016-12-31 16:30:00   68.2514         0
2016-12-31 16:45:00     69.65         0
2016-12-31 17:00:00   71.6903         0
2016-12-31 17:15:00   72.1972         0
2016-12-31 17:30:00   72.8042         0
2016-12-31 17:45:00   72.1542         0
2016-12-31 18:00:00   72.3208         0
2016-12-31 18:15:00   72.5424         0
2016-12-31 18:30:00   72.1271         0
2016-12-31 18:45:00   72.6535         0
2016-12-31 19:00:00   72.7861         0
2016-12-31 19:15:00   73.1285         0
2016-12-31 19:30:00   71.8972         0
2016-12-31 19:45:00   71.5549         0
2016-12-31 20:00:00   70.9083         0
2016-12-31 20:15:00   70.5757         0
2016-12-31 20:30:00   71.1556         0
2016-12-31 20:45:00   70.4903         0
2016-12-31 21:00:00   70.4132         0
2016-12-31 21:15:00   69.6486         0
2016-12-31 21:30:00   69.0292         0
2016-12-31 21:45:00   67.2667         0
2016-12-31 22:00:00   67.2924         0
2016-12-31 22:15:00   68.1306         0
2016-12-31 22:30:00   67.7396         0
2016-12-31 22:45:00   67.4889         0
2016-12-31 23:00:00   66.8847         0
2016-12-31 23:15:00   67.1174         0
2016-12-31 23:30:00   67.1049         0
2016-12-31 23:45:00   66.4833         0

[35132 rows x 2 columns]

In [9]:
df.techpkey = "3176","3176"
df.ouvrage = "COPE","COPE"
df.Niveau = "K", "K"
df.Champ = "47", "47"
df.Libellé_1 = "MESURE", "MESURE"
df.Libellé_2 = "COURANT", "COURANT"
df.Type = "moy", "moy"
df.Unité = "A", "A"
df.Par_mesure = "value", "invalid"

In [10]:
file = pd.ExcelFile("DataRomandeEnergieVevey/loads_feeders_MT/COPE_66.xls", header=None)
file.sheet_names

df = file.parse("Sheet1", header=None)

df.columns = ["Time", "Methode 1", "Methode 2"]
df.set_index('Time', inplace=True)

df = df.drop(["techpkey","Par mesure","Ouvrage","Niveau","Champ", "Libellé 1", "Libellé 2", "Type", "Unité"])

df

                    Methode 1 Methode 2
Time
2016-01-01 00:00:00   44.4229         0
2016-01-01 00:15:00   42.9819         0
2016-01-01 00:30:00   40.7812         0
2016-01-01 00:45:00   40.7965         0
2016-01-01 01:00:00    41.266         0
2016-01-01 01:15:00   40.5819         0
2016-01-01 01:30:00   40.2326         0
2016-01-01 01:45:00   39.9368         0
2016-01-01 02:00:00   38.3806         0
2016-01-01 02:15:00   39.4278         0
2016-01-01 02:30:00   37.5646         0
2016-01-01 02:45:00   37.4736         0
2016-01-01 03:00:00   37.1653         0
2016-01-01 03:15:00   37.8208         0
2016-01-01 03:30:00   37.1861         0
2016-01-01 03:45:00   37.0083         0
2016-01-01 04:00:00   36.3361         0
2016-01-01 04:15:00   34.9062         0
2016-01-01 04:30:00   34.3764         0
2016-01-01 04:45:00   34.4028         0
2016-01-01 05:00:00   33.9833         0
2016-01-01 05:15:00   34.4826         0
2016-01-01 05:30:00   33.7139         0
2016-01-01 05:45:00   34.0347         0
2016-01-01 06:00:00     36.25         0
2016-01-01 06:15:00   35.6826         0
2016-01-01 06:30:00   35.5556         0
2016-01-01 06:45:00   36.3299         0
2016-01-01 07:00:00   35.5861         0
2016-01-01 07:15:00   35.9917         0
...                       ...       ...
2016-12-31 16:30:00   57.8896         0
2016-12-31 16:45:00   58.3444         0
2016-12-31 17:00:00   61.3868         0
2016-12-31 17:15:00   65.2236         0
2016-12-31 17:30:00   67.3847         0
2016-12-31 17:45:00    70.941         0
2016-12-31 18:00:00   71.6243         0
2016-12-31 18:15:00   70.9708         0
2016-12-31 18:30:00   72.3007         0
2016-12-31 18:45:00   70.6069         0
2016-12-31 19:00:00   67.9125         0
2016-12-31 19:15:00   68.9174         0
2016-12-31 19:30:00   67.7326         0
2016-12-31 19:45:00   66.1278         0
2016-12-31 20:00:00   64.9951         0
2016-12-31 20:15:00   64.2181         0
2016-12-31 20:30:00   62.9653         0
2016-12-31 20:45:00   61.4153         0
2016-12-31 21:00:00    61.266         0
2016-12-31 21:15:00   61.3972         0
2016-12-31 21:30:00   58.5632         0
2016-12-31 21:45:00   57.8611         0
2016-12-31 22:00:00    56.966         0
2016-12-31 22:15:00   56.4813         0
2016-12-31 22:30:00   55.4535         0
2016-12-31 22:45:00   55.2028         0
2016-12-31 23:00:00   52.7847         0
2016-12-31 23:15:00   53.4792         0
2016-12-31 23:30:00   53.0743         0
2016-12-31 23:45:00   51.1951         0

[35132 rows x 2 columns]

In [11]:
df.techpkey = "2986","2906"
df.ouvrage = "COPE","COPE"
df.Niveau = "K", "K"
df.Champ = "66", "66"
df.Libellé_1 = "MESURE", "MESURE"
df.Libellé_2 = "COURANT", "COURANT"
df.Type = "moy", "moy"
df.Unité = "A", "A"
df.Par_mesure = "value", "invalid"